



<!-- showページで定義した変数を、sidebar.html.erbのbookに代入 -->

<!-- 短縮形(中身)は、render '一つ前の階層のフォルダ/ファイル名’, ←のファイルにおいた変数: このページのアクションで定義したインスタンス変数-->

<!-- 例：　render 'share/sidebar', book: @book_new -->





<div class="container">
<div class="row">
<%= render partial: 'share/sidebar',locals: { book: @book_new, user: @user } %>
<div class="col-xs-9">

	<h2>Book detail</h2>

	<table class="table">
		<tbody>
			<tr>
				<td><%= attachment_image_tag @book.user, :profile_image, fallback: "no_image.jpg", class: "pull-left profile-thumb", size: '100x100' %></td>

				<td><h4><%= @book.title %></h4></td>
				<td><h4><%= @book.body %></h4></td>
				<% if @user == current_user %>

					<td><%= link_to "Edit", edit_book_path(@book) , class: "btn-sm btn-success edit_book_12597" %></td>
					<td><%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-sm btn-danger destroy_book_12597" %></td>

				<% end %>
			</tr>

		</tbody>
	</table>
	<%= link_to "#{@user.name}", user_path(@user) %>


    <li>
       <i class="fa fa-comment"></i>
       <a href="#comments"><%= @book.book_comments.count %></a>
    </li>



    <div class="comment-list bt style-2" id="comments">
    <div class="float-wrapper">
        <h2 class="comment-count"><%= @book.book_comments.count %>件コメント</h2>
    </div>

	<ol>
	    <% @book.book_comments.each do |book_comment| %>
	        <li class="comment">
	            <div class="comment-body bb">
	                <div class="comment-avatar">
	                    <div class="avatar">
	                        <%= image_tag('sample-author1.jpg', style: "width: 60px; height: 60px;") %>
	                    </div>
	                </div>
	                <div class="comment-text">
	                    <div class="comment-author clearfix">
	                        <a href="#" class="link-author"><%= book_comment.user.name %></a>
	                        <span class="comment-meta">
	                          <span class="comment-date"><%= book_comment.created_at.strftime('%Y/%m/%d') %></span>
	                        </span>
	                    </div>
	                    <div class="comment-entry"><%= book_comment.comment %></div>
	                </div>
	            </div>
	        </li>
	    <% end %>
	</ol>


    <%= form_for [@book, @book_comment] do |f| %>
	    <div class="row">
	        <div class="col-sm-12">
	            <%= f.text_area :comment, class: "form-control",placeholder: "コメントをここに" %>
	        </div>
	    </div>
	    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
    <% end %>


</div>
</div>
</div>